@{
    ViewData["Title"] = "Add new todo";
}

 <style>
     .container label{
       
          color:blue;
     }
   
 </style>
@Model
<div class="container">
    <h1> Add new item</h1>
    <form asp-controller="Home" asp-action="SaveNew" method="POST">
        <div>
            <div class="field">
                <label for="addnew">Firstname</label>
                <input type="text" name="firstname" id="firstname"/>
            </div>
            <div class="field">
                <label for="addnew">Lastname</label>
                <input type="text" name="lastname" id="lastname"/>
            </div>
            <div class="field">
                <label for="addnew">Age</label>
                <input type="text" name="age" id="age"/>
            </div>
            <div class="field">
                <label for="addnew">Gender</label>
                <input type="text" name="gender" id="gender"/>
            </div>
            <div class="field">
                <input class="action" type="submit" value="Save"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

