@{
    ViewData["Title"] = "Added successfully";
}
@model Todo
<p>
    Todo has been added successully. The item detail is:
    <strong>@Model.Text</strong>
    <a asp-action="Index">Go back to home page.</a>
</p>