@{
    ViewData["Title"] = "Added successfully";
}
@model FunctionalApp.Models.Student
<p>
    A new record has been added. The item detail is:
    <strong>@Model.StudentName.FullName</strong>
    <a asp-action="Index">Go back to home page.</a>
</p>